@page
@model ServiceHost.Pages.AccountModel
@{
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">ورود و ثبت نام</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/index">صفحه اصلی</a></li>
                            <li class="active">ورود - ثبت نام</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        @if (Model.Message != null)
                        {
                            <p class="alert alert-info"> @Model.Message</p>
                        }
                        <div class="row" dir="rtl">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">

                                <form method="post" asp-page-handler="Login">
                                    <div class="login-form">
                                        <h4 class="login-title">ورود</h4>
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <label>ایمیل یا نام کاربری</label>
                                                <input name="Username" type="text" placeholder="نام کاربری">
                                            </div>
                                            <div class="col-12">
                                                <label>کلمه عبور</label>
                                                <input name="Password" type="password" placeholder="کلمه عبور">
                                            </div>

                                            <div class="col-sm-12 ">
                                                <a href="#" class="forget-pass-link">فراموشی کلمه عبور!</a>
                                            </div>

                                            <div class="col-md-12">
                                                <button class="register-button">ورود</button>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">

                                <form method="post" asp-page-handler="Register">

                                    <div class="login-form">
                                        <h4 class="login-title">ثبت نام</h4>

                                        <div class="row">
                                            <div class="col-md-6 col-12 mb-20">
                                                <label>نام و نام خانوادگی</label>
                                                <input name="FullName" type="text" placeholder="نام و نام خانوادگی">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label>نام کاربری</label>
                                                <input name="UserName" type="text" placeholder="نام کاربری">
                                            </div>
                                            <div class="col-md-12 mb-20">
                                                <label>شماره همراه</label>
                                                <input name="PhoneNumber" type="number" placeholder="شماره همراه">
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                <label>کلمه عبور</label>
                                                <input name="PassWord" type="password" placeholder="کلمه عبور">
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                <label>تکرار کلمه عبور</label>
                                                <input type="password" placeholder="تکرار کلمه عبور">
                                            </div>
                                            <div class="col-12">
                                                <button class="register-button mt-0">ثبت نام</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

